html {
    font-family: "Segoe UI";
  }
  h1 h2 h3 h4 {
    font-family: "Segoe UI Semibold";
  }
  p.light {
    font-family: "Segoe UI light";
  }
  p.bold {
    font-family: "Segoe UI Semibold";
  }
  a {
    font-family: "Segoe UI";
    text-decoration: none;
  }
  a:hover {
    font-family: "Segoe UI Semibold";
    text-decoration: none;
  }
  a:active {
    font-family: "Segoe UI Semibold";
    text-decoration: underline;
  }
  a:visited {
    font-family: "Segoe UI";
    text-decoration: underline;
  }
  .u {
    text-decoration: underline;
  }
  .b {
    font-weight: bold;
  }
  .white {
    color: white;
  }
  .black {
    color: black;
  }