

@media screen and (min-width: 1080px) {
    html {
      background-color: white;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: black;
    }
    h1 {
      text-align: center;
      font-size: 72px;
      font-family: "Segoe UI Semibold";
    }
    h3 {
      text-align: center;
      font-size: 48px;
      font-family: "Segoe UI Semibold";
    }
    p {
      font-size: 24px;
      text-align: center;
    }
    p#new {
      font-size: 2.2em;
      font-weight: bold;
    }
    div#message-content {
      color: white;
      float: left;
      text-align: left;
      font-size: 18px;
      margin-top: 5px;
      margin-left: 5%;
      overflow: hidden;
      padding-top: 5px;
    }
    a#link {
      color: black;
      text-decoration: none;
      font-family: "Segoe UI";
    }
    div#message {
      width: 100%;
      height: auto;
      min-height: 7%;
      max-height: 18%;
      background-color: coral;
      position: fixed;
      top: 0;
      padding-top: 5px;
    }
    div#button {
      background-color: white;
      text-align: center;
      height: auto;
      border-radius: 5px;
      font-size: 1.2em;
      margin: 5px;
      padding: 5px;
      float: right;
      position: fixed;
      top: 1px;
      right: 1em;
      overflow: visible;
    }
    a.thank:link {
      color: white;
      text-decoration: none;
    }
    a.thank:hover {
      color: white;
      text-decoration: underline;
    }
    a.thank:active {
      color: black;
      text-decoration: underline;
    }
    a.thank:visited {
      color: white;
      text-decoration: none;
    }
  }