
@media screen and (max-width: 1080px){
    div .navbar {
        width: 100%;
    }
    h3, caption {
        margin-left: 40px;
        width: 95%
    }
    th, td {
        text-align: center;
    }
    th:hover, td:hover {
        background-color: #a9a9a9;
        color: #ffffff;
    }
    ul.info {
        list-style: square inside url('/static/images/li.jpg');
    }
    ul.info li {
        font-size: 1.3em;
    }
    table .teachers {
        max-width: 99%;
    }
    table #classmates {
        max-width: 99%;
    }
    table #teachers td, table #teachers th{
        max-width: 22%;
    }
}