<html>
   <head>
      <title>{% block title %} {% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <link href="/static/favicon/favicon.ico" rel="shortcut icon">
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      {% block special_css %}
      {% endblock %}
   </head>
   <body>
         {% if navbar %}
         <div class="navbar navbar-inverse" role="navigation"
            style="padding: 5px; border-radius: 0px; border-color: #091145; background-image: linear-gradient(to bottom, #091145, #091145 100%);">
            <div class="containter">
               <div class="navbar-header">
                     <button type="button" class="navbar-toggle"
                     data-toggle="collapse" data-target=".navbar-collapse"
                     style="border-color: #091145 !important">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" style="font-size: 2.2em; margin-right: 50px">
                        LS202201
                     </a>
               </div>
               <div class="navbar-collapse collapse" style="background-color: #091145">
                  <ul class="nav navbar-nav" style="font-size: 1.5em">
                     <li>
                        <a href="/main" >Main</a>
                     </li>
                     <li>
                        <a href="/members">Members</a>
                     </li>
                     <li>
                        <a href="/articles">Articles</a>
                     </li>
                     <li>
                        <a href="/video">Our Video</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         {% endif %}
         {% block body %}
         {% endblock %}
         <footer>
            {% if warning %}
            WARNING: YOU MUST USE Edge 10+, Chrome 26+,<br>
             Firefox 57+, or IE 11+<br>
            TO OPEN THIS SITE OR THE <br>
            SITE MAY NOT WORK AS EXPECTED
            <br><br>
            {% endif %}
            &copy Copyright 2020 LSFD Class 202201<br>Website V3.0.1 Stable<br>
        </footer>
   </body>
</html>