{% extends 'base.html' %}
{% block title %}
404 NOT FOUND
{% endblock %}
{% block body %}
<h1>恭喜你，你访问的页面被黑人抬走了</h1>
<iframe src="//player.bilibili.com/player.html?aid=370010949&bvid=BV1NZ4y1j7nw&cid=173010772&page=2"
width="100%" height="80%"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
{% endblock %}