{% extends 'base.html' %}
{% block title %}
金坷垃
{% endblock %}
{% block body %}
<h1>欢迎参观争夺金坷垃现场</h1>
<iframe src="//player.bilibili.com/player.html?aid=4443188&bvid=BV1cs41167po&cid=7199516&page=1"
width="95%" height="80%"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
{% endblock %}
