{% extends 'base.html' %}
{% block title %}
彩蛋
{% endblock %}
{% block body %}
<h1>恭喜你，进入[空中课堂]</h1>
<iframe src="//player.bilibili.com/player.html?aid=92290096&bvid=BV1aE411n728&cid=157580137&page=1"
width="80%" height="60%"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe><br>
<iframe src="//player.bilibili.com/player.html?aid=498460548&bvid=BV1JK411p7SA&cid=198039262&page=1"
width="80%" height="60%"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe><br>
<iframe src="//player.bilibili.com/player.html?aid=99137406&bvid=BV1m7411y75f&cid=169231702&page=1"
width="80%" height="60%"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe><br>
<iframe src="//player.bilibili.com/player.html?aid=840227269&bvid=BV1M54y197TM&cid=176279483&page=1"
width="80%" height="60%"
scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe><br>
{% endblock %}