{% extends 'base.html' %}
{% block title %}
Members
{% endblock %}
{% block special_css %}
<link href="/static/css/members_desktop.css" rel="stylesheet">
<link href="/static/css/members_mobile.css" rel="stylesheet">
{% endblock %}
{% block body %}
        <ul class="info">
            <li> A year ago, hackers broke into GitHub and stole huge amounts
            of data. We don't want the information getting revealed.</li>
            <li>
            To protect your privacy, we hide the real name.
            So that hackers and visitors won't see your information.
            </li>
        </ul>
        <table id="classmates" class="table table-bordered table-striped">
            <caption style="font-size: 36px;">
                Our Classmates
            </caption>
            <tr>
                <th>English Name</th>
                <th>Student#</th>
                <th>Gender</th>
            </tr>
            <tr>
                <td>Smile</td>
                <td>20220101</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Jacky</td>
                <td>20220102</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>John</td>
                <td>20220103</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Teddy</td>
                <td>20220104</td>
                <td>M</td>
            </tr>
            <tr>
                <td>Andy Huang</td>
                <td>20220105</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Conan</td>
                <td>20220107</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Michael</td>
                <td>20220108</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Seven</td>
                <td>20220109</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Jake</td>
                <td>20220110</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Kevin Song</td>
                <td>20220111</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Jerry</td>
                <td>20220112</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Leo</td>
                <td>20220113</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Bob</td>
                <td>20220114</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Henry</td>
                <td>20220115</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Edward</td>
                <td>20220116</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Kai</td>
                <td>20220117</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Andy Zhou</td>
                <td>20220118</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Rice</td>
                <td>20220119</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Amy</td>
                <td>20220120</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Evonne</td>
                <td>20220121</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Linda</td>
                <td>20220122</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Elaine</td>
                <td>20220123</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Tina Huang</td>
                <td>20220124</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Alice</td>
                <td>20220125</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Christina</td>
                <td>20220126</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Kathy</td>
                <td>20220127</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Tina Tian</td>
                <td>20220128</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Susie</td>
                <td>20220129</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Sherry</td>
                <td>20220130</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>April</td>
                <td>20220131</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Ivet</td>
                <td>20220132</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Yolanda</td>
                <td>20220133</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Cindy</td>
                <td>20220134</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Jimmy</td>
                <td>20220135</td>
                <td>M</td>
            </tr>
            <tr>
                
                <td>Alberta</td>
                <td>20220136</td>
                <td>F</td>
            </tr>
            <tr>
                
                <td>Kevin Zhuang</td>
                <td>20220137</td>
                <td>M</td>
            </tr>
        </table>
        <table id="classmates" class="table table-bordered table-striped">
            <caption style="font-size: 36px;">
                Our Former Classmates
            </caption>
            <tr>
                <th>English Name</th>
                <th>Student#</th>
                <th>Gender</th>
            </tr>
            <tr>
                <td>Bryan</td>
                <td>20220106</td>
                <td>M</td>
            </tr>
        </table>
        <table class="teachers table table-bordered table-striped">
            <caption style="font-size:36px">Our Teachers</caption>
            <tr>
                <th>Chinese Name</th>
                <th>English Name</th>
                <th>Subject</th>
            </tr>
            <tr>
                <td>Mr.Ben</td>
                <td>-</td>
                <td>Physics</td>
            </tr>
            <tr>
                <td>Ms.Yang</td>
                <td>-</td>
                <td>Chinese</td>
            </tr>
            <tr>
                <td>Ms.Wu</td>
                <td>-</td>
                <td>English</td>
            </tr>
        </table>
        <table class="teachers table table-bordered table-striped">
            <caption style="font-size:36px">Our Former Teachers</caption>
            <tr>
                <th>Chinese Name</th>
                <th>English Name</th>
                <th>Student#(haha)</th>
                <th>Gender</th>
                <th>Subject</th>
            </tr>
            <tr>
                <td>Ms.Geng</td>
                <td>Enn</td>
                <td>20220100(haha)</td>
                <td>F</td>
                <td>Geography</td>
            </tr>
            <tr>
                <td>Mr.Chen</td>
                <td>-(bling?)</td>
                <td>-</td>
                <td>M</td>
                <td>Chinese</td>
            </tr>
            <tr>
                <td>Ms.Zhao</td>
                <td>Crystal</td>
                <td>-</td>
                <td>F</td>
                <td>English</td>
            </tr>
        </table>
{% endblock %}