{% extends 'base.html' %}
{% block title %}
500 INTERNAL SERVER ERROR
{% endblock %}
{% block body %}
<h1>恭喜你，进入了奥利给妙妙屋</h1>
<iframe src="//player.bilibili.com/player.html?aid=78698782&bvid=BV1GJ411y7ui&cid=134654801&page=1"
width="100%" height="80%" scrolling="no" border="0" frameborder="no" framespacing="0"
allowfullscreen="true"> </iframe>
{% endblock %}