{% extends 'base.html' %}
{% block title %}
Upload Result
{% endblock %}
{% block body %}
<h1>Upload Result</h1>
<p>Congratulations! You have uploaded an article for EVERYONE to see!</p>
{% endblock %}