{% extends 'base.html' %}
{% block title %}
Upload Article
{% endblock %}
{% block special_css %}
<link href="/static/css/upload.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="body">
<h1 id="upload-article">Upload Article</h1>
<form method="POST" action="/upload-result" id="upload-form" role="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title"
            placeholder="Enter Title Here">
    </div>
    <div class="form-group">
        <label for="name">
            Name(You can type '匿名' below if you want. )<br>
            The name you type must not include '-', '`', '~'， '$'.
        </label>
        <input type="text" class="form-control" id="name" name="name"
            placeholder="Name">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"
            placeholder="Password">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" rows="10" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-default btn-lg">UPLOAD</button>
</form>
<p style="font-weight: bold; font-size: 20px; max-width: 30%; min-width:20%">
WARNING: YOU MUST CHECK YOUR ARTICLE BEFORE UPLOADING.<br>
IT CANNOT BE CHANGED IF YOU DON'T CONTACT THE
<a href="mailto:andyforever0108@outlook.com">ADMIN</a>.<br>
</p>
</div>
{% endblock %}
